<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net40" />
  <package id="MSDCRM2011SDK" version="1.0.0.10" targetFramework="net40" />
  <package id="XrmToolBoxPackage" version="1.2014.03.07" targetFramework="net40" />
</packages>