<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.56" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.34" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.56" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.1.65" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="9.1.1.65" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="7.0.0-preview.22423.2" targetFramework="net48" />
  <package id="MscrmTools.Xrm.Connection" version="1.2024.9.59" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3-beta1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.ServiceModel.Http" version="4.10.3" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="4.10.3" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0-preview.1.23110.8" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
</packages>