<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GemBox.Document" version="23.3.30.1040" targetFramework="net40" />
  <package id="GemBox.Spreadsheet" version="37.3.30.1110" targetFramework="net40" />
  <package id="MSDCRM2011SDK" version="1.0.0.10" targetFramework="net40" />
  <package id="XrmToolBoxPackage" version="1.2014.03.07" targetFramework="net40" />
</packages>