<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.0.2.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.0.2.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.0.2.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.24.304111323" targetFramework="net452" />
  <package id="MscrmTools.Xrm.Connection" version="1.2016.4.27" targetFramework="net452" />
</packages>