<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.4" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.4" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.29.0" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net462" />
  <package id="MscrmTools.Xrm.Connection" version="1.2018.6.17" targetFramework="net462" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net462" />
</packages>