<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.0.0.18" targetFramework="net452" />
  <package id="EPPlus" version="4.0.4" targetFramework="net452" />
  <package id="GemBox.Document" version="23.3.30.1040" targetFramework="net40" />
  <package id="GemBox.Spreadsheet" version="37.3.30.1110" targetFramework="net40" />
</packages>